[package]
name = "schema"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
log = "0.4"
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
